body {
  margin: 0;
  padding: 0;
  background: #333;
  color: #fff;
  font: 16px sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  height: 10000px;
}

#overall-goldstein path {
  stroke: #fff;
  stroke-width: 1;
  fill: none;
}

.position-marker {
}

/*#main-text {*/
  /*position: absolute;*/
  /*bottom: 0px;*/
  /*left: 0;*/
/*}*/

.y.axis path {
  display: none;
}

.y.axis {
  color: #fff;
  font: 10px sans-serif;
}

.y.axis text {
  fill: #fff;
}

#left {
  float: left;
  width: 300px;
}

#middle {
  float: right;
  width: 660px;
}

#right {
  text-align: right;
  float: right;
  width: 50px;
}

#left, #middle {
  margin-top: 10px;
}

#left {
  margin-left: 10px;
}

#main-text {
  margin-top: 20px;
}

#main-text .main-text-key {
  color: #ccc;
  float: left;
  width: 70px;
  text-align: right;
  line-height: 30px;
}

#main-text #actor-goldstein, #main-text #victim-goldstein {
  margin-left: 50px;
  display: none;
}

#main-text .main-text-value {
  margin-left: 10px;
  font-size: 30px;
  float: left;
  width: 550px;
}

#main-text div {
  clear: both;
  overflow: auto;
}

#main-text .event .main-text-value {
  font-size: 50px;
}

#main-text .event .main-text-key {
  line-height: 50px;
}

#main-text .score {
  /*font-size: 80%;*/
  /*opacity: .5;*/
}

.column-text {
  font-size: 50px;
}

#full-text {
  /*white-space: pre;*/
  font-size: 12px;
  /*height: 250px;*/
  overflow: hidden;
  margin-top: 8px;
  margin-left: 10px;
  text-align: justify;
  line-height: 150%;
  /*margin-right: 20px;*/
  width: 550px;
  float: left;
  padding: 0;
  /*font-family: serif;*/
  /*position: absolute;*/
  /*width: 258px;*/
  /*top: 250px;*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*height: auto;*/
}

.actor {
  /*color: #c4ffcc;*/
}

.victim {
  /*color: #fdb5b7;*/
}

#horizontal-graphs {
  margin-top: 40px;
  /*position: absolute;*/
  /*top: ;*/
}

.horizontal-graph {
  clear: both;
  overflow: auto;
  margin-top: 20px;
}
.horizontal-graph svg {
  border: 1px solid #666;
}

.legend {
  font-size: 10px;
}

#goldstein-bar {
  position: absolute;
  bottom: 0;
}

#book-title, #author {
  font-weight: normal;
  text-transform: uppercase;
  margin:0;
  padding:0;
}

#splash {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color:#000;
  color: #fff;
  font: 16px monospace;
}

#power-gauge {
  margin-top: 20px;
}

#power-gauge g.arc {
  fill: steelblue;
}

#power-gauge g.pointer {
  fill: #fff;
  stroke: #ccc;
}

#power-gauge g.label text {
  text-anchor: middle;
  font-size: 14px;
  font-weight: bold;
  fill: #ccc;
}
